__pycache__/
.env
.bash_history
.bash_logout
.bashrc
.browser_data_dir/
.cache/
.config/
.gitconfig
.local/
.logs/
.npm/
.nvm/
.pki/
.profile
.secrets/
.user_env
.wget-hsts
.zshrc
logs/
memory/db.sqlite
sandbox.txt
upload/


